/* Slider.css */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider-img {
    width: 100%;
    display: none;
    transition: opacity 1s ease-in-out;
  }
  
  .slider-img.active {
    display: block;
    opacity: 1;
  }
  