@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.img-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
    overflow: hidden;
    border-radius: 10px;
}

.store-category-index{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between; 
    align-items: center;
}

.store-category-index p span{
    font-weight: 600;
}

.store-category-products{
    margin: 20px 170px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    row-gap: 80px;

}
